<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="script.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"></script>

		<style>
			.center-block{
				float:none;
			}
		</style>
	</head>
	<body ng-app="appSki">
		<div class="container" ng-controller="contrTabSki">
			<div class="row">
				<div class="col-sm-8 center-block">
					<h1 class="text-center">Classification of ski jumpers</h1>
						<br>
					<div class="input-group">
						<span class="input-group-addon">Szukaj:</span>
						<input type="text" class="form-controll" placeholder=" Czego szukasz?" ng-model="search">
					</div>
					<br>
					<div class="table-responsive">
						<table class="table table-hoover">
							<thead>
								<tr>
									<th ng-repeat="naglowek in [
									'FIS code', 'Competitor', 'Nation'
									]">
										{{naglowek}}
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="jumper in jumpers | filter : search">
									<td>{{jumper.FIELD2}}</td>
									<td>{{jumper.FIELD3}}</td>
									<td>{{jumper.FIELD7}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>